
@font-face {
    font-family: 'Lexend Mega', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap');
}

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    max-width: 530px;
    max-height: 1500px;
    background-color: rgb(2, 0, 0);
    padding: 50px;
}

.navigation {
    display: grid;
    margin: 0 auto;
}

h1 {
    font-family: 'Lexend Mega', sans-serif;
    font-size: 45px;
    color: white;
    margin-left: 95px;
}

.score {
    font-size: 25px;
    font-family: 'Lexend Mega', sans-serif;
    margin: 15px 0 15px 0;
    padding: 15px 0 15px 0;
    color: black;
    min-height: 60px;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0;
    padding: 0;
    margin-bottom: 50px;
}

.box {
    height: 145px;
    width: 145px;
    background-color: black;
    border: 2px solid white;
    cursor: pointer;
}

.box:hover {
    box-shadow: inset 0 0 25px white;
}

.reset-btn {
    display: grid;
    justify-content: center;
    cursor: pointer;
    max-width: 100px;
    align-self: flex-start;
    color: white;
    font-size: 20px;
    font-family: 'Lexend Mega', sans-serif;
    padding: 10px;
    border: 2px solid white;
    margin-left: 173px;
}

.reset-btn:hover {
    color: greenyellow;
    border: 2px solid greenyellow;
    transition: ease-in 200ms, ease-out 200ms;
    border-radius: 20px;
}

.score {
    color: white;
}